---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";

import imgLogoHorizontalBlack from "../images/Logo horizontal black.png";

import imgStarship from "../images/Cohetes/Starship.jpg";
import imgLongMarch2D from "../images/Cohetes/Long March 2D.jpeg";
import imgFalcon9SLC4E from "../images/Cohetes/Falcon 9 SLC-4E.jpg";
import imgFalcon9LC39A from "../images/Cohetes/Falcon 9 LC-39A.jpg";
import imgFalcon9SLC40 from "../images/Cohetes/Falcon 9 SLC-40.jpg";

import imgStarshipFlight7 from "../images/fotos/Starship Flight 7.jpg";
import imgStarshipFlight7WDR from "../images/fotos/Starship Flight 7 WDR.jpg";

import LaunchCard from "../components/LaunchCard.jsx";
---

<Layout>
  <Header />
  <Hero />
  <LaunchCard />
  <main>
    <!-- Contenido principal -->
    <section class="launches">
      <h2>Próximos Lanzamientos</h2>
      <div class="launch-list">
        <div class="launch-card importante">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starship Vuelo 7</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>16 de enero, 2025<br /><strong
                >Hora:
              </strong>22:00 - 23:00 UTC
            </p>
            <p class="launch-vehicle"><strong>Vehículo: </strong>Starship</p>
            <p class="launch-site">
              <strong>Lugar: </strong>OLP-A, Starbase, Texas
            </p>
          </div>
          <Image src={imgStarshipFlight7} alt="Starship Flight 7" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Desconocido</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>17 de enero, 2025<br /><strong
                >Hora:
              </strong>04:10 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Long March 2D
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>Centro de Lanzamiento de Satélites de
              Jiuquan, China
            </p>
          </div>
          <Image src={imgLongMarch2D} alt="Long March 2D" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starlink 11-8</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>18 de enero, 2025<br /><strong
                >Hora:
              </strong>15:57 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Falcon 9 Block 5
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>SLC-4E, Vandenberg, California
            </p>
          </div>
          <Image src={imgFalcon9SLC4E} alt="Falcon 9 en SLC-4E" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starlink 13-1</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>21 de enero, 2025<br /><strong
                >Hora:
              </strong>05:13 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Falcon 9 Block 5
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>LC-39A, Centro Espacial Kennedy, Florida
            </p>
          </div>
          <Image src={imgFalcon9LC39A} alt="Falcon 9 en Lc-39A" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starlink 11-6</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>22 de enero, 2025<br /><strong
                >Hora:
              </strong>14:38 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Falcon 9 Block 5
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>SLC-4E, Vandenberg, California
            </p>
          </div>
          <Image src={imgFalcon9SLC4E} alt="Falcon 9 en SLC-4E" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starlink 10-12</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>24 de enero, 2025<br /><strong
                >Hora:
              </strong>22:45 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Falcon 9 Block 5
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>SLC-40, Cabo Cañaveral, Florida
            </p>
          </div>
          <Image src={imgFalcon9SLC40} alt="Falcon 9 en SLC-40" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>
      </div>
    </section>
    <button class="custom-btn btn-14">Ver calendario</button>
  </main>

  <div class="separador"></div>

  <section class="latest-videos">
    <h2>Últimos Videos/Directos</h2>
    <div class="videos-container">
      <!-- Video 1 -->
      <div class="video-card">
        <iframe
          src="https://www.youtube.com/embed/n8PIoMhjayc"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-title">Starship vuelo 7</p>
      </div>

      <!-- Video 2 -->
      <div class="video-card">
        <iframe
          src="https://www.youtube.com/embed/20dGFUXr2bU"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-title">New Glenn</p>
      </div>

      <!-- Video 3 -->
      <div class="video-card">
        <iframe
          src="https://www.youtube.com/embed/0NUNmnkM9Vw"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-title">Transporter-12</p>
      </div>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 Lanzamientos Espaciales. Todos los derechos reservados.</p>
    <div class="social">
      <a href="https://x.com/LanzamientosE" target="_blank">X (Antes Twitter)</a
      >
      <a href="https://www.youtube.com/@lanzamientosE" target="_blank"
        >YouTube</a
      >
      <a href="https://www.instagram.com/lanzamientose/" target="_blank"
        >Instagram</a
      >
    </div>
  </footer>
</Layout>

<style>
  /* Carga de fuentes */
  @font-face {
    font-family: "Erbaum";
    src: url("/fonts/Erbaum-Regular.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Erbaum";
    src: url("/fonts/Erbaum-Bold.ttf") format("truetype");
    font-weight: bold;
  }

  /* Estilo general */
  body {
    margin: 0;
    font-family: "Erbaum", sans-serif;
    background-color: #000;
    color: #fff;
  }

  /* Cabecera principal */

  /* Footer */
  footer {
    text-align: center;
    padding: 1rem;
    background: #111;
  }

  footer .social a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
  }
</style>

<style>
  /* Carga de fuentes */
  @font-face {
    font-family: "Erbaum";
    src: url("/fonts/Erbaum-Regular.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Erbaum";
    src: url("/fonts/Erbaum-Bold.ttf") format("truetype");
    font-weight: bold;
  }

  /* Sección lanzamientos */
  .launches {
    padding: 2rem;
    text-align: center;
  }

  .launches h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  /* Lista de lanzamientos */
  .launch-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1rem;
  }

  /* Estilo de la tarjeta de lanzamiento */
  .launch-card {
    background: #222;
    padding: 1.5rem;
    margin: 1.5rem auto;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    color: #fff;
    overflow: hidden;
    transition: all 0.25s;
    z-index: 3;
  }

  /* Sombra naranja para lanzamientos importantes */
  .launch-card.importante {
    box-shadow: 0 0 10px 3px rgba(255, 165, 0, 0.5); /* Sombra naranja con difuminado */
    background: #333; /* Un fondo más oscuro para los lanzamientos importantes */
  }

  /* Detalles del lanzamiento */
  .launch-card .launch-details {
    padding: 1rem 0;
    text-align: left;
  }

  .launch-card .launch-mission-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    color: #c1272d; /* Rojo similar al de SpaceX */
    text-align: center;
  }

  .launch-card .launch-date-time {
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    color: #aaa; /* Gris para las fechas */
  }

  .launch-card .launch-vehicle {
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    color: #aaa; /* Gris para las fechas */
  }

  /* Imagen del vehículo */
  .launch-card img {
    width: 100%;
    height: 200px; /* Ajusta la altura según lo que necesites */
    object-fit: cover; /* Asegura que la imagen se recorte y mantenga su proporción */
    border-radius: 10px;
    margin-top: 1rem;
    aspect-ratio: 16/9;
    padding-bottom: 25px;
  }

  /* Estilo del botón "Ver más" */
  .launch-card .btn-ver-mas {
    display: inline-block;
    background-color: #c1272d; /* Rojo SpaceX */
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 30px; /* Bordes redondeados */
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  /* Efecto hover para el botón */
  .launch-card .btn-ver-mas:hover {
    background-color: #a61e22; /* Rojo más oscuro para el hover */
    transform: scale(1.05); /* Le da un efecto de agrandado */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  }

  /* Efecto de foco */
  .launch-card .btn-ver-mas:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  }

  /* Boton ver calendario */

  .custom-btn {
    width: 300px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 1px 5px;
    font-family: "Erbaum", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-color: #fff;
    outline: none;
    margin: 20px;
    z-index: 4;
  }

  .btn-14 {
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    border: 1px solid #fff;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }

  /* Sección del canal de YT */
  .latest-videos {
    padding: 3rem;
    background-color: rgba(0, 0, 52, 0.4);
    text-align: center;
  }

  .latest-videos h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
  }

  .videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
  }

  .video-card {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
  }

  .video-card iframe {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    aspect-ratio: 16/9;
  }

  .video-card .video-title {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    color: white;
  }
</style>
