---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import imgLogoHorizontalWhite from "../images/Logo horizontal white.png";
import imgLogoHorizontalBlack from "../images/Logo horizontal black.png";

import imgStarship from "../images/Cohetes/Starship.jpg";
import imgLongMarch2D from "../images/Cohetes/Long March 2D.jpeg";
import imgFalcon9SLC4E from "../images/Cohetes/Falcon 9 SLC-4E.jpg";
import imgFalcon9LC39A from "../images/Cohetes/Falcon 9 LC-39A.jpg";
import imgFalcon9SLC40 from "../images/Cohetes/Falcon 9 SLC-40.jpg";

import imgStarshipFlight7 from "../images/fotos/Starship Flight 7.jpg";
import imgStarshipFlight7WDR from "../images/fotos/Starship Flight 7 WDR.jpg";
---

<Layout>
  <!-- Cabecera -->
  <header class="main-header">
    <div class="container">
      <a href="index.html" class="logo">
        <Image src={imgLogoHorizontalWhite} alt="Lanzamientos Espaciales" />
      </a>
      <nav class="nav-menu">
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="calendario.html">Calendario</a></li>
          <li><a href="noticias.html">Noticias</a></li>
          <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Hero principal -->
  <section class="hero">
    <div class="hero-content">
      <h1>Lanzamientos Espaciales</h1>
      <p>Descubre los próximos lanzamientos y noticias del espacio.</p>
    </div>
  </section>

  <main>
    <!-- Contenido principal -->
    <section class="launches">
      <h2>Próximos Lanzamientos</h2>
      <div class="launch-list">
        <div class="launch-card importante">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starship Vuelo 7</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>16 de enero, 2025<br /><strong
                >Hora:
              </strong>22:00 - 23:00 UTC
            </p>
            <p class="launch-vehicle"><strong>Vehículo: </strong>Starship</p>
            <p class="launch-site">
              <strong>Lugar: </strong>OLP-A, Starbase, Texas
            </p>
          </div>
          <Image src={imgStarshipFlight7} alt="Starship Flight 7" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Desconocido</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>17 de enero, 2025<br /><strong
                >Hora:
              </strong>04:10 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Long March 2D
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>Centro de Lanzamiento de Satélites de
              Jiuquan, China
            </p>
          </div>
          <Image src={imgLongMarch2D} alt="Long March 2D" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starlink 11-8</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>18 de enero, 2025<br /><strong
                >Hora:
              </strong>15:57 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Falcon 9 Block 5
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>SLC-4E, Vandenberg, California
            </p>
          </div>
          <Image src={imgFalcon9SLC4E} alt="Falcon 9 en SLC-4E" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starlink 13-1</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>21 de enero, 2025<br /><strong
                >Hora:
              </strong>05:13 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Falcon 9 Block 5
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>LC-39A, Centro Espacial Kennedy, Florida
            </p>
          </div>
          <Image src={imgFalcon9LC39A} alt="Falcon 9 en Lc-39A" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starlink 11-6</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>22 de enero, 2025<br /><strong
                >Hora:
              </strong>14:38 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Falcon 9 Block 5
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>SLC-4E, Vandenberg, California
            </p>
          </div>
          <Image src={imgFalcon9SLC4E} alt="Falcon 9 en SLC-4E" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>

        <div class="launch-card">
          <div class="launch-details">
            <h3 class="launch-mission-name">Starlink 10-12</h3>
            <p class="launch-date-time">
              <strong>Fecha: </strong>24 de enero, 2025<br /><strong
                >Hora:
              </strong>22:45 UTC
            </p>
            <p class="launch-vehicle">
              <strong>Vehículo: </strong>Falcon 9 Block 5
            </p>
            <p class="launch-site">
              <strong>Lugar: </strong>SLC-40, Cabo Cañaveral, Florida
            </p>
          </div>
          <Image src={imgFalcon9SLC40} alt="Falcon 9 en SLC-40" />

          <!-- Botón Ver más -->
          <a href="#" class="btn-ver-mas">Ver más</a>
        </div>
      </div>
    </section>
    <button class="custom-btn btn-14">Ver calendario</button>
  </main>

  <div class="separador"></div>

  <section class="latest-videos">
    <h2>Últimos Videos/Directos</h2>
    <div class="videos-container">
      <!-- Video 1 -->
      <div class="video-card">
        <iframe
          src="https://www.youtube.com/embed/n8PIoMhjayc"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-title">Starship vuelo 7</p>
      </div>

      <!-- Video 2 -->
      <div class="video-card">
        <iframe
          src="https://www.youtube.com/embed/20dGFUXr2bU"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-title">New Glenn</p>
      </div>

      <!-- Video 3 -->
      <div class="video-card">
        <iframe
          src="https://www.youtube.com/embed/0NUNmnkM9Vw"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-title">Transporter-12</p>
      </div>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 Lanzamientos Espaciales. Todos los derechos reservados.</p>
    <div class="social">
      <a href="https://x.com/LanzamientosE" target="_blank">X (Antes Twitter)</a
      >
      <a href="https://www.youtube.com/@lanzamientosE" target="_blank"
        >YouTube</a
      >
      <a href="https://www.instagram.com/lanzamientose/" target="_blank"
        >Instagram</a
      >
    </div>
  </footer>
</Layout>
