---
import launchCardStyle from "../styles/launch_card.scss";

import imgLogoHorizontalBlack from "../images/Logo horizontal black.png";

import imgStarship from "../../images/Cohetes/Starship.jpg";
import imgLongMarch2D from "../../images/Cohetes/Long March 2D.jpeg";
import imgFalcon9SLC4E from "../../images/Cohetes/Falcon 9 SLC-4E.jpg";
import imgFalcon9LC39A from "../../images/Cohetes/Falcon 9 LC-39A.webp";
import imgFalcon9SLC40 from "../../images/Cohetes/Falcon 9 SLC-40.jpg";

import imgStarshipFlight7 from "../../images/fotos/Starship Flight 7.jpg";
import imgStarshipFlight7WDR from "../../images/fotos/Starship Flight 7 WDR.jpg";

import LaunchCard from "./LaunchCard.astro";
---

<!-- Contenido principal -->
<section class="launches">
  <h2>Próximos Lanzamientos</h2>
  <div class="launch-list">
    <LaunchCard
      missionName="Starship Vuelo 7"
      date="16 de enero, 2025"
      time="22:00 - 23:00 UTC"
      vehicle="Starship"
      site="OLP-A, Starbase, Texas"
      img={imgStarshipFlight7}
    />

    <LaunchCard
      missionName="Desconocido"
      date="17 de enero, 2025"
      time="04:10 UTC"
      vehicle="Long March 2D"
      site="Centro de Lanzamiento de Satélites de Jiuquan, China"
      img={imgLongMarch2D}
    />

    <LaunchCard
      missionName="Starlink 11-8"
      date="18 de enero, 2025"
      time="15:57 UTC"
      vehicle="Falcon 9 Block 5"
      site="SLC-4E, Vandenberg, California"
      img={imgFalcon9SLC4E}
    />

    <LaunchCard
      missionName="Starlink 13-1"
      date="21 de enero, 2025"
      time="05:13 UTC"
      vehicle="Falcon 9 Block 5"
      site="LC-39A, Centro Espacial Kennedy, Florida"
      img={imgFalcon9LC39A}
    />

    <LaunchCard
      missionName="Starlink 11-6"
      date="22 de enero, 2025"
      time="14:38 UTC"
      vehicle="Falcon 9 Block 5"
      site="SLC-4E, Vandenberg, California"
      img={imgFalcon9SLC4E}
    />

    <LaunchCard
      missionName="Starlink 10-12"
      date="24 de enero, 2025"
      time="22:45 UTC"
      vehicle="Falcon 9 Block 5"
      site="SLC-40, Cabo Cañaveral, Florida"
      img={imgFalcon9SLC40}
    />
  </div>
</section>
<button class="custom-btn btn-14">Ver calendario</button>

<style>
  /* Sección lanzamientos */
  .launches {
    padding: 2rem;
    text-align: center;
  }

  .launches h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  /* Lista de lanzamientos */
  .launch-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1rem;
  }

  /* Boton ver calendario */
  .custom-btn {
    width: 300px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 1px 5px;
    font-family: "Erbaum", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-color: #fff;
    outline: none;
    margin: 20px;
    z-index: 4;
  }

  .btn-14 {
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    border: 1px solid #fff;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }
</style>
